<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Feed</title>
</head>
<body>
    <h1>Neighbourhood Events</h1>
    <ul>
        {% for item in data %}
        <li>
            <strong>Title:</strong> {{ item.title }}<br>
            <strong>Content:</strong> {{ item.description }}<br>
            <strong>City:</strong> {{ item.city }}<br>
        </li>
        {% endfor %}
        {% for item in other_data %}
        <li>
            <strong>Title:</strong> {{ item.title }}<br>
            <strong>Content:</strong> {{ item.description }}<br>
            <strong>City:</strong> {{ item.city }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
